<div class="container-fluid">
    <div class="row">
        <div class="container text-center" style="margin-bottom: 50px; margin-top: 20px">
            <div class="row">
                <div class="col">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">TOTAL EARNINGS</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalEarnings}} UZS</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">TOTAL
                                        NUMBER OF
                                        PRODUCTS IN STORE</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalNumberOfProducts}}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <!-- Pending Requests Card Example -->
                    <div class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">PENDING
                                        ORDERS</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" style="color: red;"> <b>{{pendingOrders}}</b></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-8">
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Products in Store</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Product Title</th>
                                    <th scope="col">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each allProducts}}
                                <tr>
                                    <th scope="row">{{id}}</th>
                                    <td>{{title}}</td>
                                    <td>{{amount}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Enter a sale here:</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <div class="container mt-5" style="margin-bottom: 80px;">
                            <div class="row">
                                <div class="col-md-6 offset-3">
                                    <form action="/product/sale" method="post">
                                        <div class="mb-3">
                                            <label for="earnings" class="form-label">Sold Price (in UZS)</label>
                                            <input class="form-control" type="number" min="1000" step="100"
                                                name="earnings" id="earnings" />
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>